.ms__width__60{
    max-width: 60px;
}

.bi-search{
    color: #000;
    vertical-align: middle;
    margin-left: 20px;
}

main{
    padding-top: 100px;
}

.ms__jumbotron__text{
    position: absolute;
    bottom: 1.25rem;
    left: 5%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}

.ms__color__gray{
    color: rgb(163, 161, 161);
}

.ms__width__50p{
    max-width: 50%
}

.ms__width__100p{
    max-width: 100%;
}

.ms__width__80p{
    max-width: 80%;
}

.ms__width__200{
    max-width: 200px;
}

.ms__width__25p{
    max-width: 25%;
}

.ms__text__card{
    font-size: 18px;
}

#takes-two{
    background-color: rgb(32, 32, 32);
}

#plus{
    background-color: rgb(170, 170, 168);
}

.ms__bg__blue{
    background-color: rgb(3, 3, 56);
}

footer{
    background-color: rgb(18, 18, 172);
}