.ms__width__60{
    max-width: 60px;
}

.bi-search{
    color: #000;
    vertical-align: middle;
    margin-left: 20px;
}

.ms__width__50p{
    max-width: 50%
}

.ms__width__100p{
    max-width: 100%;
}

.ms__text__card{
    font-size: 18px;
}