.ms__width__60{
    max-width: 60px;
}

.bi-circle-fill{
    font-size: 10px;
    color: blue;
}

.ms__width__ul__100{
    width: 100%;
}

main{
    padding-top: 100px;
}

.jumbotron{
    background-image: url('img/jumbo-bg.png');
    background-position: center;
    background-size: cover;
    min-height: 500px;
    width: 100%;
}

.takes{
    background-image: url('img/it-takes-two-hero-banner-desktop.jpg');
    background-position: center;
    background-size: cover;
    min-height: 500px;
    width: 100%;
}

.ms__color__gray{
    color: rgb(163, 161, 161);
}

.line{
    height: 3px;
    width: 100%;
    background-color: blue;
}

.ms__width__50p{
    max-width: 50%
}

.ms__width__80p{
    max-width: 80%;
}

.ms__width__200{
    max-width: 200px;
}

.ms__width__25p{
    max-width: 25%;
}

.ms__text__card{
    font-size: 18px;
}

.ms__bg__dark{
    background-color: rgb(32, 32, 32);
}

#plus{
    background-color: rgb(170, 170, 168);
}

.ms__bg__blue{
    background-color: rgb(3, 3, 56);
}

footer{
    background-color: rgb(18, 18, 172);
}

.ms__footer__width__globe{
    max-width: 20px;
}

.hov:hover, .hov:hover .line{
    opacity: 1!important;
    cursor: pointer;
}